


.navbar  {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;

  color: #FFF;
  padding: 1% 0;
  font-size: 1.2cm;
  border: 0;

}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 5px;

}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: #D5D5D5;
  background-color: black;
}
.navbar-inverse .navbar-nav li a {
  color: #D5D5D5;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  color: #F01919;
font-family: "broadway", Times, serif;
}

.btn {
  font-size: 18px;
  color: red;
  padding: 12px 22px;
 background:white;
 border: 2px solid red;
}
.container {
  margin: 4% auto;


}

.container-fluid {


}
/* Styles for aboutus page*/
.aboutus {

}










/*styles for home page*/



#icon {
  max-width: 200px;
  margin: 1% auto;
}
footer {
  width: 100%;
  background-color: #DE2222;
  padding: 5%;
  color: #FFF;
  border: none;

}
.fa {
  padding: 15px;
  font-size: 25px;
  color: #FFF;
}
.fa:hover {
color: #D5D5D5;
text-decoration: none;
}
#icon {
  max-width: 150px;

}
h2 {
  font-size: 1.7em;
}
.me {
width: 500px;
  height: 400px;
}

/*styles for about page*/
.story {
  text-align: center;
}
/*styles for menu page*/
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 85px;
  text-decoration: underline;
  text-transform: capitalize;
}
h4 {
  border:  10px solid red;
  font-size: 50px;
}



/*styes for testimonial page*/

.page-header {
  border: 4px double #D12600;
  text-align: center;
font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  letter-spacing: 0.6px;
  word-spacing: 1.4px;
  color: #D12600;
  font-weight: normal;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.name {
text-align: center;
font-family: Impact, Charcoal, sans-serif;
font-size: 29px;
letter-spacing: 0.6px;
word-spacing: 1.4px;
color: #D12600;
font-weight: normal;
text-decoration: underline solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;


}

.testament {
  text-align: center;
  border: 4px double #D12600;
}


img {
display: block;
margin-left: auto;
margin-right: auto;
}



/* styles for contact page */

@media (max-width: 900px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }

@media (max-width: 600px) {
  .carousel-caption
    display: none;
}
